@charset "UTF-8";
/* CSS Document */
body{
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 0;
	width: 100%;
	min-width: 100%;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	background: #FFF;
	}

.main{ margin-top: 20%;}	

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

p img { float: left; margin: 0 10px 5px 0; padding: 0; }

img { border: 0; max-width: 100%; }

/****************map-box共用*****************/

.map-box{
	background: #FAFAFA;
	height: 160px;
	margin-top: 5%;
	margin-bottom: 5%;
	-webkit-box-shadow: 0px 2px 15px #A0A0A0;
	box-shadow: 0px 2px 15px #D2D2D2;
	}
.map-box img {
	padding-top: 5px;
	}	
.map-box span{
	font-size:1.5em;
	}
.map-box a{
	position: relative;
	top: 50px;
	left: 50px;
	font-size: 1.2em;
	
	}



/****************我是分隔線*****************/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.openbtn {
	color:#928F8F;
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	top: 5px;
	left: 85%;
	}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}




/**************** 主畫面 HOME *****************/
.index-home {
	background:url(../images/plam.jpg);
	background-size: cover;
	height: 768px;
	}
.button a{
	margin-bottom: 5%;
	}	

/**************** Index結束*****************/



/**************** LA.DownTown 開始*****************/


/**************** LA.DownTown 結束*****************/





